<template name="mainNav">
  <nav class="main-menu" >
      <ul>
          <li>
              <a href=".">
                  <i class="fa fa-home nav-icon"></i>
                  <span class="nav-text">
                      Dashboard
                  </span>
              </a>
          </li>
          <li class="has-subnav">
              <a href="javascript:;">
                  <i class="fa fa-laptop nav-icon"></i>
                  <span class="nav-text">
                      UI Components
                  </span>
                  <i class="icon-angle-right"></i>
              </a>
          </li>
          <li>
              <a href="graphs-and-statistics.html">
                  <i class="fa fa-bar-chart nav-icon"></i>
                  <span class="nav-text">
                      Graphs and Statistics
                  </span>
              </a>
          </li>
          <li class="has-subnav">
              <a href="javascript:;">
                  <i class="fa fa-exclamation-circle nav-icon"></i>
                  <span class="nav-text">
                      Error Pages
                  </span>
                  <i class="icon-angle-right"></i>
              </a>
          </li>
          <li>
              <a href="documentation.html">
                  <i class="fa fa-info-circle nav-icon"></i>
                  <span class="nav-text">
                      Documentation
                  </span>
              </a>
          </li>
      </ul>

      <ul class="logout">
          <li>
              <a href="login.html">
                  <i class="fa fa-power-off nav-icon"></i>
                  <span class="nav-text">
                      Logout
                  </span>
              </a>
          </li>
      </ul>
  </nav>
</template>
