<template name="quickLaunch">
  <nav class="quick-launch-bar">
      <ul>
          <li>
              <a href="javascript:;">
                  <i class="fa fa-bar-chart"></i>
                  <span>Graphs</span>
              </a>
          </li>
          <li>
              <a href="javascript:;">
                  <i class="fa fa-calendar"></i>
                  <span>Calendar</span>
              </a>
          </li>
          <li>
              <a href="javascript:;">
                  <i class="fa fa-map-marker"></i>
                  <span>Maps</span>
              </a>
          </li>
          <li>
              <a href="javascript:;">
                  <i class="fa fa-cloud"></i>
                  <span>Cloud</span>
              </a>
          </li>
          <li>
              <a href="javascript:;">
                  <i class="fa fa-microphone"></i>
                  <span>Conference</span>
              </a>
          </li>
      </ul>
      <a data-toggle="modal" href="#quickLaunchModal" class="add-quick-launch"><i class="fa fa-plus"></i></a>
  </nav>
</template>
